.add-sofer-button {
    background-color: #2A2E43;
    font-size: 1fr;
    color: #C89C5B;
    font-weight: bold;
    padding: 2vw;
    border-radius: 10px;
    margin-bottom: 5vw;
    margin-top: 5vw;
    border: solid 2px #C89C5B;
    box-shadow: 0pt 3pt 6pt #00000029;
}

.page-grid {
    direction: rtl;
    display: grid;
    margin: 0 4vw;
}

.grid {
    display: grid;
    align-items: center;
}

.count-section {
    grid-template: auto / 1fr auto;
    grid-gap: 10vw;
    padding: 1vw 4vw;
    align-items: end;
}

.count {
    font-weight: normal;
    font-size: 0.75rem;
    font-family: Arial;
    text-align: right;
}