<div dir="rtl" id="main-container" class="container-fluid">
  <div class="row">
    <div id="auth-form" class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Auth Form</h3>
      </div>
      <form [formGroup]="loginForm" class="panel-body">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input id="login" class="form-control" appCurserSideByLanguaga placeholder="שם משתמש" formControlName="userName">
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </span>
          <input type="password" id="password" class="form-control" appCurserSideByLanguaga placeholder="סיסמה" formControlName="password">
        </div>
        <button [disabled]="loginForm.invalid" type="button" (click)="onSubmit()" class="btn btn-primary">כניסה</button>
      </form>
    </div>
  </div>
</div>