:host {
  direction: rtl;
}

.name-search {
  padding: 6vw 4vw;
  position: relative;
  grid-template: 1fr / 1fr;
}

.grid {
  display: grid;
  align-items: center;
}

.name-input {
  width: 100%;
  background-color: white;
  background-image: url('../../../assets/icons/searchs.png');
  background-image: url('../../../assets/icons/searchs.png');
  background-position: 3.3vw 3.3vw;
  background-repeat: no-repeat;
  padding-left: 10vw;
  padding-right: 4vw;
  resize: none;
  box-sizing: border-box;
  height: 12vw;
  margin-bottom: 3vw;
}

.count {
  font-weight: normal;
  font-size: 0.75rem;
  font-family: Arial;
  text-align: right;
  margin: 3vw 5vw;
}

.button-wrapper {
  display: grid;
  grid-template: auto / 1fr 1fr;
  grid-gap: 7vw;
  margin: 4vw 5vw;
}

button {
text-align: center;
color: #ffffff;
font-weight: normal;
font-size: 0.85rem;
font-family: Arial;
background-color: #C4C4C4;
padding: 2.5vw 3vw;
margin-top: 4vw;
border-radius: 4px;
border: none;
width: 100%;
}


.checked {
background-color: #2A2E43;
}