<div class="button-wrapper">
    <div>
        <button>ספרים שנמכרו</button>
    </div>
    <div>
        <button>ספרים למכירה</button>
    </div>
</div>
<div class="name-search grid">
    <input (keyup)="onKeyUpSearchByName($event)" class="name-input" type="text" placeholder="חפש לפי שם">
</div>
<div class="count-section grid">
    <div *ngIf="booksToDisplay" class="count">ספרים ברשימה {{ booksToDisplay.length }}</div>
</div>
<app-book-list-item *ngFor="let book of booksToDisplay" [book]="book"></app-book-list-item>