.date-inner-grid{
  display: grid;
  grid-gap: 1vh;
  padding: 3vw;
  grid-template: auto auto / 10vw auto;
}


.date-input {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.input-container {
  grid-column: 2 / 3;
  display: grid;
  grid-template: auto / auto;
}

.date-button {
  grid-column: 1 / 2;
}

.section-title {
  grid-column: 1 / -1;
  color: #2699FB;
  font-weight: bold;
  margin-bottom: 2vw;
}