.date-inner-grid{
  display: grid;
  grid-gap: 1vh;
  padding: 5vw;
  /* grid-template: auto auto / 10vw auto; */
  position: relative;
  box-shadow: 0pt 3pt 6pt #00000029;
  position: relative;
  align-content: center;
}


.date-input {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  height: 12vw;
  border-radius: 8px;
  font-size: 0.8rem;
  padding-right: 15vw;
  margin-bottom: 2vw;
  color: #000000;
}

.date-input:focus {
  outline: none;
  border: 2px solid #D4A75D;

}

.input-container {
  grid-column: 1 / 3;
  display: grid;
  grid-template: auto / auto;
}

.date-button {
  grid-column: 1 / 2;
  position: absolute;
  top: 1.4vw;
  right: 1.4vw;
}

.section-title {
  grid-column: 1 / -1;
  color: #2A2E43;
  font-weight: bold;
  margin-bottom: 2vw;
  font-size: 0.9rem;
  font-family: Arial;
}

.calendar-box {
  background-color: #2A2E43;
  border-radius: 6pt;
  min-width: 9vw;
  min-height: 9vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 3vw; */
}

.input-wrapper {
  display: grid;
  grid-template: auto / 1fr;
  position: relative;

}