<div [formGroup]="parentForm" class="date-inner-grid">
  <div class="section-title">תאריך התחלה</div>
  <div class="date-button" (click)="d.toggle()" class="date-button"><div class="calendar-box">
    <img src="../../assets/icons/Calendar.svg" alt="">
  </div></div>
  <div class="input-container" formGroupName="startDate">
    <input class="date-input" type="text" ngbDatepicker #d="ngbDatepicker" (dateSelect)="onDateSelect($event)" />
    <input formControlName="hebrewDateInWords" class="date-input" placeholder="תאריך התחלה">
  </div>

</div>
