<div class="edit-writer-wrapper">
  <form [formGroup]="writerForm" class="page-grid">
    <div class="profile-image-section">
      <label for="profileImage">הוסף תמונת פרופיל</label>
      <input (change)="onAddProfileImage($event.target.files[0])" id="profileImage" style="display:none;" type="file"
        accept="image/*" value="הוסף תמונת פרופיל">
      <img *ngIf="writerForm.controls.profileImage.value" [src]="writerForm.controls.profileImage.value" class="img">
    </div>
    <div class="personal-detail-section inner-grid">
      <div>פרטים אישיים</div>
      <input placeholder="שם פרטי" formControlName="firstName">
      <input placeholder="שם משפחה" formControlName="lastName">
      <input placeholder="טלפון" formControlName="telephone">
      <input list="cities" placeholder="עיר" formControlName="city">
      <datalist id="cities">
        <option *ngFor="let city of citiesFromDB" [value]="city.city">
      </datalist>
      <input placeholder="רחוב" formControlName="street">
      <input placeholder="מספר בית" formControlName="streetNumber">
      <div formGroupName="communityDeatails">
        <input list="communities" placeholder="קהילה" formControlName="community" class="full-width">
        <datalist id="communities">
          <option *ngFor="let community of communitiesFromDB" [value]="community">
        </datalist>
      </div>
    </div>
    <div class="start-date-section">

      <app-hebrew-date-form-control [parentForm]="writerForm"></app-hebrew-date-form-control>
    </div>
    <div formGroupName="isAppropriate" class="is-appropriate-section">
      <div class="is-appropriate-radio-buttons-wraper inner-grid">
        <div class="section-title">
          מידת התאמה
        </div>
        <div [ngClass]="{'checked': writerForm.get(['isAppropriate', 'level']).value === 'לא מתאים'}">
          <label>
            <input type="radio" formControlName="level" value="לא מתאים">
            1
          </label>
        </div>
        <div [ngClass]="{'checked': writerForm.get(['isAppropriate', 'level']).value === 'מתאים'}">
          <label>
            <input type="radio" formControlName="level" value="מתאים">
            2
          </label>
        </div>
        <div [ngClass]="{'checked': writerForm.get(['isAppropriate', 'level']).value === 'כדאי מאוד'}">
          <label>
            <input type="radio" formControlName="level" value="כדאי מאוד">
            3
          </label>
        </div>
      </div>
    </div>
    <div formGroupName="pricesDeatails" class="price-deatail-section">
      <div>
        <div [ngClass]="{'checked': writerForm.get(['pricesDeatails','isPricePerPage']).value === 'true'}">
          <label>
            <input type="radio" formControlName="isPricePerPage" value='true'>
            מחיר לעמוד
          </label>
        </div>
        <div [ngClass]="{'checked': writerForm.get(['pricesDeatails','isPricePerPage']).value === 'false'}">
          <label>
            <input type="radio" formControlName="isPricePerPage" value='false'>
            מחיר לספר תורה
          </label>
        </div>
      </div>
      <div formGroupName="priceForTorahScroll">
        <input placeholder="מחיר לספר תורה" formControlName="price">
        <div>
          <label class="size-checkbox">
            <input type="radio" formControlName="worthIt" value='false'>
          </label>
          <label class="size-checkbox">
            <input type="radio" formControlName="worthIt" value='true'>
          </label>
        </div>
      </div>
      <div formGroupName="priceForMezuzah">
        <input placeholder="מחיר למזוזה" formControlName="price">
        <div>
          <label class="size-checkbox">
            <input type="radio" formControlName="worthIt" value='false'>
          </label>
          <label class="size-checkbox">
            <input type="radio" formControlName="worthIt" value='true'>
          </label>
        </div>
      </div>
      <div formGroupName="priceForTefillin">
        <input placeholder="מחיר לתפילין" formControlName="price">
        <div>
          <label class="size-checkbox">
            <input type="radio" formControlName="worthIt" value='false'>
          </label>
          <label class="size-checkbox">
            <input type="radio" formControlName="worthIt" value='true'>
          </label>
        </div>
      </div>
    </div>
    <div formGroupName="writingDeatails" class="writing-detail-section">
      <div formGroupName="letterSizes">
        גודל הכתב
        <div class="row">
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'letterSizes', '17']).value}"
            class="size-checkbox">
            <input type="checkbox" formControlName="17"> 17
          </label>
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'letterSizes', '24']).value}"
            class="size-checkbox">
            <input type="checkbox" formControlName="24"> 24
          </label>
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'letterSizes', '30']).value}"
            class="size-checkbox">
            <input type="checkbox" formControlName="30"> 30
          </label>
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'letterSizes', '36']).value}"
            class="size-checkbox">
            <input type="checkbox" formControlName="36"> 36
          </label>
        </div>
        <div class="row">
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'letterSizes', '40']).value}"
            class="size-checkbox">
            <input type="checkbox" formControlName="40"> 40
          </label>
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'letterSizes', '42']).value}"
            class="size-checkbox">
            <input type="checkbox" formControlName="42"> 42
          </label>
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'letterSizes', '45']).value}"
            class="size-checkbox">
            <input type="checkbox" formControlName="45"> 45
          </label>
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'letterSizes', '48']).value}"
            class="size-checkbox">
            <input type="checkbox" formControlName="48"> 48
          </label>
        </div>
      </div>
      <div formGroupName="writingLevel">
        דרגת כתיבה
        <div [ngClass]="{'checked': writerForm.get(['writingDeatails', 'writingLevel', 'level']).value === 'זול'}">
          <label>
            <input type="radio" formControlName="level" value="זול">
            1
          </label>
        </div>
        <div [ngClass]="{'checked': writerForm.get(['writingDeatails', 'writingLevel', 'level']).value === 'פחותה'}">
          <label>
            <input type="radio" formControlName="level" value="פחותה">
            2
          </label>
        </div>
        <div [ngClass]="{'checked': writerForm.get(['writingDeatails', 'writingLevel', 'level']).value === 'בינוני'}">
          <label>
            <input type="radio" formControlName="level" value="בינוני">
            3
          </label>
        </div>
        <div [ngClass]="{'checked': writerForm.get(['writingDeatails', 'writingLevel', 'level']).value === 'גבוהה'}">
          <label>
            <input type="radio" formControlName="level" value="גבוהה">
            4
          </label>
        </div>
        <div [ngClass]="{'checked': writerForm.get(['writingDeatails', 'writingLevel', 'level']).value === 'מיוחד'}">
          <label>
            <input type="radio" formControlName="level" value="מיוחד">
            5
          </label>
        </div>
      </div>
      <div formGroupName="stabilityLevel">
        יציבות
        <div [ngClass]="{'checked': writerForm.get(['writingDeatails', 'stabilityLevel', 'level']).value === '1'}">
          <label>
            <input type="radio" formControlName="level" value="1">
            1
          </label>
        </div>
        <div [ngClass]="{'checked': writerForm.get(['writingDeatails', 'stabilityLevel', 'level']).value === '2'}">
          <label>
            <input type="radio" formControlName="level" value="2">
            2
          </label>
        </div>
        <div [ngClass]="{'checked': writerForm.get(['writingDeatails', 'stabilityLevel', 'level']).value === '3'}">
          <label>
            <input type="radio" formControlName="level" value="3">
            3
          </label>
        </div>
        <div [ngClass]="{'checked': writerForm.get(['writingDeatails', 'stabilityLevel', 'level']).value === '4'}">
          <label>
            <input type="radio" formControlName="level" value="4">
            4
          </label>
        </div>
        <div [ngClass]="{'checked': writerForm.get(['writingDeatails', 'stabilityLevel', 'level']).value === '5'}">
          <label>
            <input type="radio" formControlName="level" value="5">
            5
          </label>
        </div>
      </div>
      <div formGroupName="eraseLevel">
        מחיקה
        <div>
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'eraseLevel', 'level']).value === '1'}">
            <input type="radio" formControlName="level" value="1">
            1
          </label>
        </div>
        <div>
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'eraseLevel', 'level']).value === '2'}">
            <input type="radio" formControlName="level" value="2">
            2
          </label>
        </div>
        <div>
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'eraseLevel', 'level']).value === '3'}">
            <input type="radio" formControlName="level" value="3">
            3
          </label>
        </div>
        <div>
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'eraseLevel', 'level']).value === '4'}">
            <input type="radio" formControlName="level" value="4">
            4
          </label>
        </div>
        <div>
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'eraseLevel', 'level']).value === '5'}">
            <input type="radio" formControlName="level" value="5">
            5
          </label>
        </div>
      </div>
      <div formGroupName="writingTypes">
        <div formGroupName="types">
          סוג הכתב
          <div [ngClass]="{'checked': writerForm.get(['writingDeatails', 'writingTypes', 'types', 'ari']).value}">
            <label>
              אר"י
              <input type="checkbox" formControlName="ari">
            </label>
          </div>
          <div [ngClass]="{'checked': writerForm.get(['writingDeatails', 'writingTypes', 'types', 'beitYosef']).value}">
            <label>
              בית יוסף
              <input type="checkbox" formControlName="beitYosef">
            </label>
          </div>
          <div [ngClass]="{'checked': writerForm.get(['writingDeatails', 'writingTypes', 'types', 'Welish']).value}">
            <label>
              וועליש
              <input type="checkbox" formControlName="Welish">
            </label>
          </div>
        </div>
      </div>
    </div>
    <div formGroupName="placeOfWriting" class="writing-location-section">
      <div>
        <label class="size-checkbox">
          בית
          <input type="radio" formControlName="place" value='בית'>
        </label>
        <label class="size-checkbox">
          אחר
          <input type="radio" formControlName="place" value='אחר'>
        </label>
      </div>
    </div>
    <div formGroupName="additionalDetails" class="additional-details-section">
      <div>
        <div formGroupName="hasWritenBefore">
          כתב ספרים בעבר
          <label class="size-checkbox">
            <input type="radio" formControlName="boolean" value='false'>
          </label>
          <label class="size-checkbox">
            <input type="radio" formControlName="boolean" value='true'>
          </label>
        </div>
        <div formGroupName="hasWritenKabala">
          כתב קבלה
          <label class="size-checkbox">
            <input type="radio" formControlName="boolean" value='false'>
          </label>
          <label class="size-checkbox">
            <input type="radio" formControlName="boolean" value='true'>
          </label>
        </div>
        <div formGroupName="voatsInElection">
          בחירות
          <label class="size-checkbox">
            <input type="radio" formControlName="boolean" value='false'>
          </label>
          <label class="size-checkbox">
            <input type="radio" formControlName="boolean" value='true'>
          </label>
        </div>
        <div formGroupName="goesToKotel">
          הולך לכותל
          <label class="size-checkbox">
            <input type="radio" formControlName="boolean" value='false'>
          </label>
          <label class="size-checkbox">
            <input type="radio" formControlName="boolean" value='true'>
          </label>
        </div>
        <div formGroupName="beginnerWriter">
          סופר מתחיל
          <label class="size-checkbox">
            <input type="radio" formControlName="boolean" value='false'>
          </label>
          <label class="size-checkbox">
            <input type="radio" formControlName="boolean" value='true'>
          </label>
        </div>
      </div>
      <div>
        <div formGroupName="writerLevel">
          דרגת סופר
          <div>
            <label [ngClass]="{'checked': writerForm.get(['additionalDetails', 'writerLevel', 'level']).value === '1'}">
              <input type="radio" formControlName="level" value="1">
              1
            </label>
          </div>
          <div>
            <label [ngClass]="{'checked': writerForm.get(['additionalDetails', 'writerLevel', 'level']).value === '2'}">
              <input type="radio" formControlName="level" value="2">
              2
            </label>
          </div>
          <div>
            <label [ngClass]="{'checked': writerForm.get(['additionalDetails', 'writerLevel', 'level']).value === '3'}">
              <input type="radio" formControlName="level" value="3">
              3
            </label>
          </div>
          <div>
            <label [ngClass]="{'checked': writerForm.get(['additionalDetails', 'writerLevel', 'level']).value === '4'}">
              <input type="radio" formControlName="level" value="4">
              4
            </label>
          </div>
          <div>
            <label [ngClass]="{'checked': writerForm.get(['additionalDetails', 'writerLevel', 'level']).value === '5'}">
              <input type="radio" formControlName="level" value="5">
              5
            </label>
          </div>
        </div>
      </div>
    </div>
    <div formArrayName="photos" class="photo-section">
      <label for="addPhoto">
        הוסף תמונה
        <input (change)="onAddPhoto($event.target.files[0])" id="addPhoto" style="display:none;" type="file"
          accept="image/*">
      </label>
      <div *ngFor="let photo of writerForm.controls.photos['controls']">
        <img *ngIf="photo.value" [src]="photo.value" class="img">
      </div>
    </div>
    <div class="recording-section">
      <label *ngIf="!isRecording" for="click" (click)="startRecording()">
        <div>הוסף תזכורת קולית</div>
      </label>
      <div *ngIf="isRecording" (click)="stopRecording()">
        עצור הקלטה
      </div>
      <div *ngIf="hasRecord">
        <div *ngFor="let recording of writerForm.controls.recordings['controls']; let i = index;">
          <div (click)="deleteRecording(i)">מחק הקלטה</div>
          <audio controls *ngIf="recording.value" [src]="sanitizer.bypassSecurityTrustResourceUrl(recording.value)"
            class="img">
          </audio>
        </div>
      </div>
    </div>
    <button [disabled]="writerForm.invalid" (click)="onSubmit()" class="add-sofer-button">הוסף סופר למאגר</button>
  </form>
  <!-- <div>{{ writerForm.value | json }}</div>
  <div>{{ writerForm.valid }}</div> -->
  <div #mapContainer id="map"></div>
</div>
