#map {
  height: 500px;
  width: 100%;
}

.img {
  width: 100px;
}

.wrapper-checkbox-sizes {
  display: flex;
  flex-direction: row;
}

.size-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 100%;
  color: white;
}

.checked {
  background-color: red;
}

a,
div,
ion-item,
.item-md,
.item-ios,
.segment-button,
.select-md .select-ios,
.button-ios,
.button-md,
.searchbar-md,
.searchbar-ios {
  pointer-events: auto !important;
}
