

.edit-writer-wrapper {
  background-color: #F1F9FF;
}


#map {
  height: 500px;
  width: 100%;
}

.img {
  width: 100px;
}



.size-checkbox {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 10vw;
  width: 10vw;
  background-color: #B4B4B4;
  border-radius: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
}

.checked {
  background-color: #2699FB;
}



.page-grid {
  direction: rtl;
  text-align: right;
/* justify-content: start; */
/* justify-items: start; */
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(11, auto);
  grid-gap: 2vh;
  margin: 0 4vw;
}

.inner-grid {
  display: grid;
  grid-gap: 1vh;
  padding: 3vw;
}

.inner-grid-2 {
  display: grid;
  grid-gap: 3vw;
}

.full-width {
  width: 100%;
}

.section-title{
  grid-column: 1 / -1;
  color: #2699FB;
  font-weight: bold;
  margin-bottom: 2vw;
}

.page-grid div {
  background-color: rgb(255, 255, 255);
}

.profile-image-section {
  grid-row: 1 / span 1;
}

.personal-detail-section {
  grid-row: 2 / span 1;
}

.start-date-section {
  grid-row: 3 / span 1;
}

.is-appropriate-section {
  grid-row: 4 / span 1;
}

.is-appropriate-radio-buttons-wraper {
  grid-row: 2 / span 1;
  grid-template: auto auto / 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
}

.price-deatail-section {
  grid-row: 5 / span 1;
}

.type-of-price-selection-wrapper {
  grid-template: auto / 1fr 1fr;
}

.prices-input-wrapper{
  grid-template: auto auto auto / 1fr;
}

.price-for-item {
  grid-template: auto / repeat(6, 1fr);
}

.price-for-item input {
  grid-column: 1 / span 3;
}

.worth-it-buttons-wrapper {
  grid-column: 4 / span 2;
  grid-template: auto / 1fr 1fr;
  justify-items: center;
}

.worth-it-buttons-wrapper label input {
  display: none;
}

.writing-detail-section {
  grid-row: 6 / span 1;
}

.letter-sizes-wrapper {
  
}

.sizes-row {
  grid-template: auto / 1fr 1fr 1fr 1fr;
  justify-items: center;
  direction: ltr;
}

.sizes-row label input {
  display: none;
}

.writing-location-section {
  grid-row: 7 / span 1;
}

.number-button-wrapper {
  grid-template: auto / repeat(5, 1fr);
  /* justify-items: center; */
}

.additional-details-section {
  grid-row: 8 / span 1;
}

.photo-section {
  grid-row: 9 / span 1;
}

.recording-section {
  grid-row: 10 / span 1;
}

.add-sofer-button {
  grid-row: 11 / span 1;
}