<div>
  <form [formGroup]="writerForm">
    <input placeholder="שם פרטי" formControlName="firstName">
    <input placeholder="שם משפחה" formControlName="lastName">
    <input placeholder="טלפון" formControlName="telephone">
    <input list="cities" placeholder="עיר" formControlName="city">
    <input placeholder="רחוב" formControlName="street">
    <input placeholder="מספר בית" formControlName="streetNumber">
    <datalist id="cities">
      <option *ngFor="let city of citiesFromDB" [value]="city.city">
    </datalist>
    <div>
      <label for="profileImage">Select Image</label>
      <input (change)="onUploadFile($event.target.files[0])" id="profileImage" style="display:none;" type="file"
        accept="image/*" value="הוסף תמונת פרופיל">
      <img *ngIf="writerForm.controls.profileImage.value" [src]="writerForm.controls.profileImage.value" class="img">
    </div>
    <div>
      <app-hebrew-date-form-control [parentForm]="writerForm"></app-hebrew-date-form-control>
    </div>
    <div formGroupName="writingDeatails" class="wrapper-checkbox-sizes">
      <div formGroupName="letterSizes">
        <div class="row">
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'letterSizes', '17']).value}"
            class="size-checkbox">
            <input type="checkbox" formControlName="17"> 17
          </label>
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'letterSizes', '24']).value}"
            class="size-checkbox">
            <input type="checkbox" formControlName="24"> 24
          </label>
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'letterSizes', '30']).value}"
            class="size-checkbox">
            <input type="checkbox" formControlName="30"> 30
          </label>
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'letterSizes', '36']).value}"
            class="size-checkbox">
            <input type="checkbox" formControlName="36"> 36
          </label>
        </div>
        <div class="row">
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'letterSizes', '40']).value}"
            class="size-checkbox">
            <input type="checkbox" formControlName="40"> 40
          </label>
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'letterSizes', '42']).value}"
            class="size-checkbox">
            <input type="checkbox" formControlName="42"> 42
          </label>
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'letterSizes', '45']).value}"
            class="size-checkbox">
            <input type="checkbox" formControlName="45"> 45
          </label>
          <label [ngClass]="{'checked': writerForm.get(['writingDeatails', 'letterSizes', '48']).value}"
            class="size-checkbox">
            <input type="checkbox" formControlName="48"> 48
          </label>
        </div>
      </div>
    </div>
    <button [disabled]="writerForm.invalid" (click)="onSubmit()">הוסף סופר למאגר</button>
  </form>
  <div>{{ writerForm.value | json }}</div>
  <div>{{ writerForm.valid }}</div>
  <div #mapContainer id="map"></div>
</div>
