.nav {
    background-color: #425B9E;
    min-height: 68px;
    padding-top: 15px;
    display: grid;
    grid-template: 1fr / 17vw auto 17vw;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 0.95rem;
    font-family: Arial;
    align-items: center;
    box-shadow: 5px 10px 8px #66666629;
}