<div>
  <form [formGroup]="advancedSearch">
    <div class="price-between-wraper">
      <div class="form-control">
        <label for="">הגבוה ביותר</label>
        <input formControlName="highestPrice" type="number">
      </div>

      <div class="form-control">
        <label for="">הנמוך ביותר</label>
        <input formControlName="lowestPrice" type="number">
      </div>
    </div>
  </form>
  {{ advancedSearch.value | json }}
</div>


<div class="search-page-wrapper">
  <div class="adv-search-wrapper page-grid">
  
  <div class="price-section inner-grid">
  <div class="section-title">מחירים</div>

  <div class="input-wrapper inner-grid-2">
    
    <div class="inner-grid-2">
      <label class="gold-text" for="highest">הגבוה ביותר</label>
      <input type="text" value="1500" id="highest">
    </div>

    <div class="gold-text">---</div>

    <div class="inner-grid-2">
      <label class="gold-text" for="lowest">הנמוך ביותר</label>
      <input type="text" value="300" id="lowest">
    </div>

  </div>

  <div class="type-wrapper inner-grid-2">
    <section class="type selected">עמוד</section>
    <section class="type">ס"ת</section>
    <section class="type">מזוזה</section>
    <section class="type">תפילין</section>
  </div>
  
  </div>


<div class="writing-types inner-grid">
  <div class="section-title">סוג הכתב</div>
  <div class="box-checkbox checked">אר"י</div>
  <div class="box-checkbox checked">בית יוסף</div>
  <div class="box-checkbox checked">וועליש</div>
</div>

<div class="sizes-section inner-grid">
  <div class="section-title">גודל הכתב</div>
  <div class="sizes-row inner-grid-2">
    <section class="size-checkbox">17</section>
    <section class="size-checkbox">24</section>
    <section class="size-checkbox">30</section>
    <section class="size-checkbox checked">36</section>
    <section class="size-checkbox checked">40</section>
    <section class="size-checkbox checked">42</section>
    <section class="size-checkbox checked">45</section>
    <section class="size-checkbox checked">48</section>
  </div>
</div>

<div class="writing-level inner-grid">
  <div class="section-title">דרגת כתיבה</div>
  <section class="level-checkbox checked">1</section>
  <section class="level-checkbox checked">2</section>
  <section class="level-checkbox checked">3</section>
  <section class="level-checkbox checked">4</section>
  <section class="level-checkbox checked">5</section>
</div>

<div class="is-appropriate inner-grid">
  <div class="section-title">התאמה</div>
  <section class="box-checkbox">לא מתאים</section>
  <section class="box-checkbox checked">מתאים</section>
  <section class="box-checkbox checked">כדאי מאד</section>
</div>
  
<div class="allect-and-kotel-section inner-grid">

  <div class="allections inner-grid-2">
    <div class="section-title-a">בחירות</div>
    <section class="box-checkbox">כן</section>
    <section class="box-checkbox">לא</section>
    <section class="box-checkbox checked">לא משנה</section>
  </div>

  <div class="allections inner-grid-2">
    <div class="section-title-a">הולך לכותל</div>
    <section class="box-checkbox">כן</section>
    <section class="box-checkbox">לא</section>
    <section class="box-checkbox checked">לא משנה</section>
  </div>

</div>

<section class="add-section inner-grid-2">
  <button class="add-sofer-button">חפש</button>
  <button class="add-sofer-button-2">אפס</button>
</section>
  
  </div>
</div>