.book-list-item {
    display: grid;
    grid-template: auto / auto 1fr auto;
    grid-gap: 6vw;
    align-items: center;
    padding: 0 6vw;
    border-top: solid 1px #2A2E43;
    height: 20vw;
    background-color: #D9D9D9;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #2A2E43;
    ;
}

.book-name {
    font-size: 1rem;
    font-weight: bold;
}

:host img {
    /* width: 100px; */
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.reminder {
    height: 5vw;
    width: 5vw;
    background-color: #A2A2A2;
    border-radius: 50%;
  }
  
  .highlight-regular {
    background-color: #D4A75D;
  }
  
  .highlight-ergent {
    background-color: #FF373E;
  }