.writer-list-item {
  display: grid;
  grid-template: auto / 1fr auto;
  grid-gap: 6vw;
  align-items: center;
  padding: 0 6vw;
  border-top: solid 1px #2A2E43;
  /* border-bottom: solid 1px #2A2E43; */
  /* direction: rtl; */
  height: 20vw;
  background-color: #D9D9D9;
  font-size: 1rem;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #2A2E43;;
}

:host img {
  /* width: 100px; */
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
