/* You can add global styles to this file, and also import other style files */

body,
html {
  margin: 0 auto;
  padding: 0;
}

body {
  touch-action: pan-x pan-y;
}

label {
  margin-bottom: 0;
}

.ngb-dp-header {
  direction: ltr;
}

.icofont-check-alt {
  font-weight: 500;
  font-size: 1.4rem;
}

.icofont-close-line {
  font-weight: 500;
  font-size: 1.35rem;
}

input[currencyMask] {
  direction: ltr;
}

input[type=tel] {
  font-size: 0.8rem;
}