:host {
  direction: rtl;
}

.home-page {
  min-height: 130vh;
  max-height: 150vh;
  padding-bottom: 5vw;
  background-image: url("../../assets/icons/background.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.homepage-head {
  height: 130px;
  padding-top: 25vw;
  margin-bottom: 20vw;
  display: flex;
  width: fixed;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
}

.title-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.title-wrapper img {
  width: 40vw;
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  /* line-height: 20pt; */
}

h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16pt;
  text-align: center;
  margin: 0;
}

.backup-button-wrapper button {
  text-align: center;
  color: #ffffff;
  font-weight: normal;
  font-size: 0.85rem;
  font-family: Arial;
  background-color: #C4C4C4;
  padding: 2.5vw 3vw;
  /* margin-top: 4vw; */
  border-radius: 4px;
  border: none;
  width: 100%;
}

.backup-button-wrapper button:active {
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
}