<!-- <app-nav-bar></app-nav-bar> -->
<div class="home-page">
  <div class="homepage-head">
    <div class="title-wrapper">
      <img src="../../assets/icons/LOGO.png" alt="">
    </div>
  </div>
  <div class="main-wrapper">
    <app-expandable-list class="expandable-list" listTitle="סופרים"
      [listItems]="[{listItemLink: '/edit-writer', listItemText: 'הוספת סופר חדש', image: '../../../assets/icons/add_sofer.png'},{listItemLink: '/advanced-search', listItemText: 'חיפוש סופר לכתיבה', image: '../../../assets/icons/search.png'},{listItemLink: '/writers-list-screen', listItemText: 'מאגר סופרים', image: '../../../assets/icons/maagar.png'}]">
    </app-expandable-list>
    <app-expandable-list class="expandable-list" listTitle="ספרים" [listItems]="[
        {listItemLink: '/', listItemText: 'הוספת ספר חדש', image: '../../../assets/icons/add_sofer.png'},
        {listItemLink: '/', listItemText: 'חיפוש ספר לרכישה', image: '../../../assets/icons/search.png'},
        {listItemLink: '/', listItemText: 'מאגר ספרים', image: '../../../assets/icons/maagar.png'}
      ]">
    </app-expandable-list>
    <app-expandable-list class="expandable-list" listTitle="סוחרים" [listItems]="[
        {listItemLink: '/', listItemText: 'הוספת סוחר חדש', image: '../../../assets/icons/add_sofer.png'},
        {listItemLink: '/', listItemText: 'מאגר סוחרים', image: '../../../assets/icons/maagar.png'}
      ]">
    </app-expandable-list>
    <app-expandable-list class="expandable-list" listTitle="תזכורות" [listItems]="[
    {listItemLink: '/', listItemText: 'תזכורות סופרים', image: '../../../assets/icons/maagar.png'},
    {listItemLink: '/', listItemText: 'תזכורות ספרים', image: '../../../assets/icons/maagar.png'}
  ]">
    </app-expandable-list>
  </div>
</div>