:host {
  direction: rtl;
}

.home-page {
  height: 100vh;
  background-image: url("../../assets/icons/background.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.expandable-list {}

.main-wrapper {}

.homepage-head {
  height: 130px;
  padding-top: 25vw;
  margin-bottom: 20vw;
  display: flex;
  width: fixed;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
}

.title-wrapper {
  display: inline-block;
  vertical-align: middle;
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  /* line-height: 20pt; */
}

h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16pt;
  text-align: center;
  margin: 0;
}
