<app-nav-bar></app-nav-bar>
<div>
  <app-expandable-list class="expandable-list" listTitle="סופרים"
    [listItems]="[{listItemLink: '/edit-writer', listItemText: 'הוספת סופר חדש'},{listItemLink: '/', listItemText: 'חיפוש סופר לכתיבה'},{listItemLink: '/writers-list-screen', listItemText: 'מאגר סופרים'}]">
  </app-expandable-list>
  <app-expandable-list class="expandable-list" listTitle="סופרים"
    [listItems]="[{listItemLink: '/', listItemText: 'הוספת סופר חדש'},{listItemLink: '/', listItemText: 'חיפוש סופר לכתיבה'},{listItemLink: '/', listItemText: 'מאגר סופרים'}]">
  </app-expandable-list>
  <app-expandable-list class="expandable-list" listTitle="סופרים"
    [listItems]="[{listItemLink: '/', listItemText: 'הוספת סופר חדש'},{listItemLink: '/', listItemText: 'חיפוש סופר לכתיבה'},{listItemLink: '/', listItemText: 'מאגר סופרים'}]">
  </app-expandable-list>
</div>
